@import "../ReUsableStyles/variable.scss";

.appointmentContent{
    z-index: 0;
    border-radius: 10px;
    display:$display-property;
    justify-content: $space-between ;
    width: 98%;
    left:10px;
    color: #000000;
    background-color: $container-background-color;
    // background-color: #f2f3f7;

    &:hover
    {
        border: 1px solid $font-style-color;
        z-index:1;
    }

    .appointment-title
    {
        padding-right: 20px;
    }
    .appointment-timestamp
    {
        padding-left: 20px;
        // padding-right: 100px;
    }

}



