.side-panel
{
    position: fixed;
    top:105px;
    z-index: 0;
    left: 10px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    background-color: #eceef1;

    .sp-create-btn
    {
        padding-bottom: 20px;
    }
}