@import "../ReUsableStyles/variable.scss";

.side-panel
{
    position: $position-fixed;
    display: $display-property;
    flex-direction: $flex-direction;
    background-color: $container-background-color;
    top:105px;
    z-index: 0;
    left: 25px;
    height: 78vh;
    padding:20px;
    border-radius: 10px;
}