.discard-header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faXmark
{
    cursor: pointer;
    position: absolute;
    right: 0;
}
.discard-txt
{
    padding-top: 50px;
}

.discard-popup-btns
{
    padding-top: 40px;
    display:flex;
}

.discard-cancel-btn
{
    margin-right: 20px;
}
