
  .two-view-btn {
    display: flex;
    background: #fff;
    box-shadow: 1px 1px 5px #9d9c9c;
  
    .btn {
      display: flex;
      justify-content: center;
      width: 80px;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #000000;
      font-size: 14px;
      &:hover
      {
        color: #fff;
        background-color:#62006b ;
      }
    }
  }
  