@import "../../ReUsableStyles/_mixin.scss";
@import "../../ReUsableStyles/variable.scss";

.view-pop-up-overlay {
  @include overlay;
  // z-index: 1000;

  .view-pop-up-box {
    @include popupBox;
    width: 25%;
    // justify-content: stretch;
    align-items: stretch;
  }

  .view-event-header {
    @include popupHeader;
    padding-bottom: 5px;
  }
  .view-header-ellipsis
  {
    margin-right: 15px;
    padding:5px;
  }

  .view-header-btn {
    @include popupHeaderIcons;
  }

  .view-event-body {
    &:hover
    {
        cursor:default;
    }
    padding-left: 40px;
    font-size: 14px;

    .view-event-title {
      font-size: 18px;
      padding-bottom: 20px;
    }

    .view-txt-common-style {
      display:$display-property;
      padding-bottom: 15px;
    }

    .view-event-text {
      display:$display-property;
      flex-direction: $flex-direction;
      padding-left: 15px;
      .time
      {
        padding-bottom: 10px;
      }
      .txt
      { 
        display: inline-block;
        width: 60px;
      }
    }
    .view-content-icon
    {
      padding-top: 1px;
      width: 29px;
    }
  }

  .view-event-popup-btns {
    padding: 20px 0px;
    padding-right: 20px;
    display:$display-property;
    justify-content: end;
  }
}