@mixin overlay
{
    background: #38373780;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@mixin popupBox
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    box-shadow:0px 5px 10px #4a4a4a;
}

@mixin popupHeader
{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    // align-items: flex-end;
}

@mixin popupHeaderIcons
{
    cursor: pointer;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right:10px;
    &:hover {
      color: #fff;
      background-color: #62006b;
    }
}