@import "../../../ReUsableStyles/variable.scss";
@import "../../../ReUsableStyles/mixin.scss";

  .nav-day {
    .nav-week-day
    {
      font-size: 25px;
      letter-spacing: 1px;
      font-weight: 500;
      padding-bottom: 5px;
    }

    .current-day
    {
      display: $display-property;
      justify-content:$space-between;
      align-items: $align-item;
      letter-spacing: 1px;
      width: 240px;
      .day-navigator
      {
        padding-bottom: 2px;
        button {
            @include navButton
        }
      }
    }

  }