//variables
$background-color: #fff;
$display-property: flex;
$border-color: #dcdcdc;
$space-between: space-between;
$align-item: center;
$box-shadow: 1px 1px 5px #8d8d8d;
$cursor-pointer: pointer;
$background-font-style-color:#d275d7;
$hover-color: #7427e6;
$position-fixed: fixed;
$flex-direction: column;
$container-background-color: #eceef1;
$font-faded-bg:#868686;
$border-radius:20px;
$linear-gradient:repeating-linear-gradient(to bottom right,#ffffff,#ffffff);
$small-cal-faded-bg:#a3a3a3;
$black-color:#000000;
