//variables
$background-color: #fff;
$display-property: flex;
$border-color: #dcdcdc;
$space-between: space-between;
$align-item: center;
$box-shadow: 7px 5px 11px #8d8d8d;
$cursor-pointer: pointer;
$font-style-color: #6b1000;
$hover-color:#faa090;
$position-fixed: fixed;
$flex-direction: column;
$container-background-color: #eceef1;
$font-faded-bg:#868686;
$linear-gradient:repeating-linear-gradient(to bottom right,#ffffff,#ffffff);
$small-cal-faded-bg:#c09e98;
