@import "../../ReUsableStyles/_mixin.scss";
@import "../../ReUsableStyles/variable.scss";
.discard-pop-up-overlay {
  @include overlay;

  .discard-pop-up-box {
    @include popupBox;
    width: 26%;
  }
  
  .discard-header {
    @include popupHeader;
  }

  .discard-faXmark {
    @include popupHeaderIcons;
  }
  .discard-txt {
    padding-top: 10px;
    font-size: 15px;
  }
  .discard-popup-btns {
    padding-top: 30px;
    padding-bottom: 30px;
    display: $display-property;

    .discard-cancel-btn {
      padding-right: 20px;
    }
  }
}
