@import "../ReUsableStyles/variable.scss";
@import "../ReUsableStyles/mixin.scss";

.nav-bar {
  position: $position-fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  border-bottom: 1px solid $border-color;
  background-color: $background-color;
  display: $display-property;
  justify-content: $space-between;
  align-items: $align-item;
  padding: 20px 0px;

  .nav-start {
    display: $display-property;
    align-items: $align-item;
    justify-content: $align-item;

    .nav-logo-container {
      display: $display-property;
      align-items: $align-item;
      cursor: $cursor-pointer;
      padding-left: 30px;
      .nav-logo {
        width: 40px;
        height: 40px;
        padding-bottom: 5px;
      }
      .nav-title {
        color: $font-style-color;
        font-size: 36px;
        font-family: 'Times New Roman', Times, serif;
      }
    }

    .nav-day {
      padding-left:70px;
      width: 150px;
      button {
        @include buttonStyle;
        padding: 10px 15px;
        width: 170px;
        cursor: default;
      }
    
    }
  }
  .nav-end {
    display: $display-property;
    .nav-btns {
      margin-right: 30px;
    }
  }
}


.search-bar
{
  width: 50%;
}