@import "../../ReUsableStyles/variable.scss";

.calendar {
  width: 280px;
  border-radius: 5px;
  background-color: $background-color;
  border-radius: 10px;

  .cal-header-container
  {
    cursor: default;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: $linear-gradient;
    color:$font-style-color;
  }

  .cal-header {
    display: $display-property;
    justify-content: $space-between;
    padding: 10px 15px;

    .month-year {
      display: $display-property;
      justify-content: $space-between;
      align-items: $align-item;
      width:155px;
      cursor: default;
    }

    span {
      font-size: 13px;
      font-weight: bold;
    }

    button {
      cursor: $cursor-pointer;
      border: none;
      padding: 3px 5px;
      font-size: 12px;
      color:$font-style-color;
      border-radius: 20px;
      background-color:transparent;

      &:hover {
        color: #fff;
        background-color: $hover-color;
      }
    }
  }

  
  .cal-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
  }
  .week-days {
    justify-self:$align-item;
  }

  .cal-month {
    justify-self: flex-end;
    cursor: $cursor-pointer;


    .cal-days {
      display: grid;
      grid-template-columns: repeat(7, 32px);
      row-gap: 5px;
      padding: 10px 12px;
      column-gap:5px;
      
    }

    .days {
      transition: 0.3s linear;
      cursor: $cursor-pointer;
      border: none;
      color:$font-style-color;
      font-size: 10px;
      padding: 10px;
      background-color:#fff;
      border-radius: 50px;
      &:hover {
        color: #fff;
        background-color: $hover-color;
      }
    }

    .curr-day-bg {
      color: $background-color;
      background-color: $font-style-color;
    }
    .other-day-bg {
      color: $background-color;
      background-color: $hover-color;
    }
    .faded-bg {
      color:$small-cal-faded-bg;
    }
  }
}
