@import "../../ResusableStyles/_mixin.scss";

.create-pop-up-overlay {
  @include overlay;

  .create-pop-up-box {
    @include popupBox;
    width: 30%;
    align-items: stretch;
  }

  .create-header {
    @include popupHeader;
  }

  .create-faXmark {
    @include popupHeaderIcons;
  }
  .create-txt {
    padding-top: 10px;
    font-size: 15px;
  }

  .create-popup-btns {
    padding-top: 30px;
    padding-bottom: 25px;
    margin-right: 40px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    .cancel-btn-create {
      padding-right: 20px;
    }
  }
}

.create-event-content {
  padding-left: 30px;
  padding-right: 50px;
  .event {
    width: 100%;

    .add-input {
      width: 100%;
      box-sizing: border-box;
      resize: none;
      color: #737373;
      background-color: #fff;
      border: #fff;
      border-bottom: 2px solid #510061;
      // padding-left: 5px;
      margin-bottom: 10px;
      &:focus {
        outline: none;
        border-bottom: 2px solid #510061;
      }
    }
  }

  .choose-time {
    display: flex;
    align-items: center;
    padding-top: 20px;

    .time-label {
      font-size: 13px;
      width: 60px;
      padding-right: 20px;
      color: #737373;
    }

    .time-sel-style {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #510061;
      color: #510061;
      font-size: 14px;
    }
  }

  .color-labels {
    padding-top: 25px;
    font-size: 13px;
    color: #737373;
    display: flex;
    align-items: center;
    .color-label-name {
      padding-right: 45px;
    }

    .each-color {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      margin-right: 15px;
      border-radius: 50px;
    }
    .check-icon {
      float: left;
      color: #fff;
    }

    // "red","green","grey","blue","pink"
    .red {
      background-color: #bf2b0a;
    }
    .blue {
      background-color: #115eeb;
    }
    .green {
      background-color: #04ab57;
    }

    .pink {
      background-color: #7e009e;
    }
    .grey {
      background-color: #656565;
    }
  }

  .input-text-area {
    margin-top: 25px;
    width: 100%;
    color: #737373;
    font-family: sans-serif;
    resize: none;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #510061;
    // padding-lef2t:5px;

    &:focus {
      outline: none;
      border-bottom: 2px solid #510061;
    }
  }
}
