.right-panel
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    top:70px;
    width: 20%;
    margin: 20px;

    .rp-btns
    {
        display: flex;
        padding-bottom: 25px;
    }
    .rp-btn-1
    {
     padding-right: 23px;      
    }
}