@import "../ReUsableStyles/variable.scss";

.cal-list-panel
{
    position: $position-fixed;
    display: $display-property;
    flex-direction: $flex-direction;
    box-shadow: $box-shadow;
    top:0px;
    right: 0;
    z-index: 0;
    margin-right: 15px;
    margin-top: 15px;
    padding:10px;
    padding-bottom: 4px;
    width: 18%;
    border-radius:$border-radius;

    .create-event-btn
    {
        margin-top: 25px;
        margin-bottom: 19px;
    }
}