@import "../../ReUsableStyles/_mixin.scss";
@import "../../ReUsableStyles/variable.scss";
.update-pop-up-overlay {
  @include overlay;

  .create-pop-up-box {
    @include popupBox;
    width: 30%;
    align-items: stretch;
  }

  .create-header {
    @include popupHeader;
  }

  .create-faXmark {
    @include popupHeaderIcons;
  }
  .create-txt {
    padding-top: 10px;
    font-size: 15px;
  }

  .create-popup-btns {
    padding-top: 30px;
    padding-bottom: 25px;
    margin-right: 40px;
    display:$display-property;
    justify-content: end;
    align-items: flex-end;
    .cancel-btn-create {
      padding-right: 20px;
    }
  }
}

.create-event-content {
  padding-left: 30px;
  padding-right: 50px;
  .event {
    width: 100%;

    .add-input {
      width: 100%;
      box-sizing: border-box;
      resize: none;
      color: #737373;
      background-color: $background-color;
      border: none;
      border-bottom: 2px solid $font-style-color;
      // padding-left: 5px;
      margin-bottom: 10px;
      &:focus {
        outline: none;
        border-bottom: 2px solid $font-style-color
      }
    }
  }

  .choose-time {
    display: $display-property;
    align-items: $align-item;
    padding-top: 20px;

    .time-label {
      font-size: 13px;
      font-weight: 600;
      width: 70px;
      padding-right: 20px;
      color: #737373;
    }

    .time-sel-style {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid $font-style-color;
      color: $font-style-color;
      font-size: 14px;
    }
  }

  

  .input-text-area {
    margin-top: 25px;
    width: 100%;
    color: #737373;
    font-family: sans-serif;
    resize: none;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid $font-style-color;

    &:focus {
      outline: none;
      border-bottom: 2px solid $font-style-color;
    }
  }
}
